body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}
.color {
    color: orange;
}
section {
    display: flex;
    padding: 5%; }
    #p {
padding-right: 50%;
    }
    section a {
        color: white;
        text-decoration: none;
        background-image: linear-gradient(orange, red);
padding: 10px 40px;        
border-radius: 5px;
font-weight: 700; }
.width {
width: 50%;
}
#loremp {
padding-left: 50px ;
}
.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.bot-img {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100px;
}